/* Очищаем стили по умолчанию */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Устанавливаем высоту равной высоте окна браузера */
    font-family: Arial, sans-serif; /* Базовая гарнитура шрифтов */
    background-color: black;
    color: white;
}

body {
    display: flex;           /* Включаем режим Flexbox */
    flex-direction: column;  /* Располагаем элементы столбцом */
    justify-content: center; /* По вертикали центрируем элементы */
    align-items: center;     /* По горизонтали центрируем элементы */
    min-height: 100vh;       /* Минимальная высота тела документа равна высоте окна */
    
}


h1 {
    margin-bottom: 20px; /* Добавляем пространство между заголовком и формой */
}

img {
    width: 350px;   /* Ширина изображения */
    height: auto;   /* Автоматически масштабирует высоту пропорционально ширине */
}

#keycard {
    margin-top: 80px;
}


button {
    cursor: pointer;                     /* Изменяем вид курсора на руку */
    background-color: #000000;           /* Чёрный цвет фона кнопки */
    color: rgb(255, 255, 255);          /* Белый текст */
    border: 3px solid white;             /* Белая обводка толщиной 3 пикселя */
    padding: 15px 30px;                  /* Увеличенное заполнение для большего размера */
    border-radius: 25px;                 /* Сохраняется округлость углов */
    transition: all .3s ease-in-out;     /* Плавный переход состояния */
    font-size: 15px;                     /* Размер шрифта увеличен для лучшего восприятия */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #ffffff; /* Темнее при наведении */
    color: black;
}


a {
    cursor: pointer;                     /* Изменяем вид курсора на руку */
    background-color: #000000;           /* Чёрный цвет фона кнопки */
    color: rgb(255, 255, 255);          /* Белый текст */
    border: 3px solid white;             /* Белая обводка толщиной 3 пикселя */
    padding: 15px 30px;                  /* Увеличенное заполнение для большего размера */
    border-radius: 25px;                 /* Сохраняется округлость углов */
    transition: all .3s ease-in-out;     /* Плавный переход состояния */
    font-size: 15px;                     /* Размер шрифта увеличен для лучшего восприятия */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


